<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Spysent - download</title>
    <link rel="stylesheet" href="output.css" />
  </head>
  <body class="h-full">
    <%- include('./partials/afterLogin.ejs',{userName}) %>

    <% if(!datum.length){ %>
    
      <h2>Nothing to show...You have not shared any files yet!</h2>
      <% }else {%>
    <table class="w-[80%] h-[60%] rounded-xl mx-auto mt-16 pt-3 shadow-lg">
      <thead class=" text-start">
        <tr class="text-start">
          <th>File-Name</th>
          <th>Size</th>
          <th>CreatedAt</th>
          <th>Receiver</th>
        </tr>
      </thead>
      <tbody class=" text-center mt-3">

        <% datum.forEach(file => { %>
        <tr>
          <td><%= file.filename %></td>
          <td><%= Math.ceil((file.size/1024/1024))%>mb</td>
          <td><%= file.createdAt.toDateString() %></td>
          <% if(!file.receiver){ %>
            <td>--</td>
          <% }else{ %>
            <td><%= file.receiver %></td>
          <% } %>
            

        </tr>
        
          <% }) %>
      </tbody>
      
    </table>
    <% } %>

</body>
</html>